@use "./../../style/_config.sass" as dv;

#newUSerStep {
  margin: auto;

  // flex-grow: 1;
  header {
    @include dv.header-center-main;
    color: dv.$color-dark-blue;
    margin-top: 0px;
  }

  .small-box-one-cont {
    margin-bottom: 30px;
  }
  .inputs {
    @include dv.flex-column;

    .input-text-field{
      margin-bottom: 20px;
    }
  }

  .profile-data-submit-button {
    width: 100%;
    margin: 30px 0px;
    margin-bottom: 10px;
  }
}
