//black
$color-black: #000;
$color-light-black: #00000078;
$color-black-light: #00000078;

$color-mid-black: #750026;
$color-black-mid: #750026;

$color-black-shadow: #805261;
$color-black-super-light : #0000003b ;

//color red
$color-red: red;

//color red
$color-light-blue: #0066ff;
$color-dark-blue: #1100ff;
$color-blue-border : #1976d2 ;
$color-super-light-blue : #b6c4d9 ;

//white color

$antique-white: #ebe2d6;
$white: #fff;
$transparent-white: #ffffffa3;

//green color

$success-green: #0c961f;



//yellow color

$color-yellow : yellow ;
